
img{
    width:100px;
    height:100px;
    border-radius: 50%;
    border: 5px solid rgb(182, 155, 255);
}

.btn {
    background-color: dodgerblue;
    color: white;
    border: none;
    padding: 20px 30px;
    border-radius: 15px;
}
    
